
.container {
    background-color: purple;
    min-height: 100vh;
}

.list-group-item {
    cursor: pointer;
}

.completed li {
    text-decoration: line-through;
}

.completed li.active {
    background: green;
    border: 1px solid green;
}